@model LaptopWeb.Models.NguoiDung
@{
    Layout = null;
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Đăng ký</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
          content="Flat lay login form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->

    <link href="//fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">

    <!--/Style-CSS -->
    <link rel="stylesheet" href="~/assets/css/stylelogin.css" type="text/css" media="all" />
    <!--//Style-CSS -->

    <script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- form section start -->
    <section class="w3l-workinghny-form">
        <!-- /form -->
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="workinghny-form-grid">
                <div class="wrapper">
                    <div class="logo">
                        <h1><a class="brand-logo" href="@Url.Action("Index" , "Home")"></a></h1>
                        <!-- if logo is image enable this
                    <a class="brand-logo" href="#index.html">
                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                    </a> -->
                    </div>
                    <div class="workinghny-block-grid">
                        <div class="form-right-inf">
                            <h2>Đăng ký </h2>
                            <div class="login-form-content">
                                <form action="#" class="signin-form" method="post">

                                    <div class="one-frm">
                                        <input name="Hoten" placeholder="Họ và tên" required="" autofocus>
                                        <span class="field-validation-valid" data-valmsg-for="Hoten" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="one-frm">
                                        <input type="email" name="Email" placeholder="Email" required="">
                                        <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="one-frm">
                                        <input type="password" name="Matkhau" placeholder="Password" required="">
                                        <span class="field-validation-valid" data-valmsg-for="Matkhau" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="one-frm">
                                        <input name="Dienthoai" placeholder="Số điện thoại" required="">
                                        <span class="field-validation-valid" data-valmsg-for="Dienthoai" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="one-frm">
                                        <input name="Diachi" placeholder="Địa chỉ" required="">
                                        <span class="field-validation-valid" data-valmsg-for="Diachi" data-valmsg-replace="true"></span>
                                    </div>

                                    <div class="one-frm">
                                        <input type="hidden" name="IDQuyen" required="" value="2">
                                        <span class="field-validation-valid" data-valmsg-for="IDQuyen" data-valmsg-replace="true"></span>
                                    </div>



                                    <button type="submit" class="btn btn-style mt-3">Đăng ký </button>
                                    <p class="already">Đã có tài khoản? <a href="@Url.Action("Login" , "NguoiDung")">Đăng nhập</a></p>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- //form -->
        <!-- copyright-->
        <div class="copyright text-center">
            <div class="wrapper">
                <p class="copy-footer-29">
                </p>
            </div>
        </div>
        <!-- //copyright-->
    </section>
    <!-- //form section start -->
</body>

</html>
